@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


body{
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    margin: 0;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    grid-column: 1 /4;
    background-color: white;
    color: black;
    font-size: .75rem;
    text-align: center;
}

.title{
    padding: 2rem;
}

.navigation { 
  display: flex;
  align-items: center;
}

.navigation a {
    display: block;
    color: black;
    background-color: #caf0f8;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
    flex: 1 1 auto;
    font-size: 1rem;
    font-family: "Poiret One", sans-serif;
} 

nav a:hover {
	text-decoration:underline;
}

main{
    display: grid;
    grid-template-columns: auto 1fr auto;
    max-width: 1300px;
}

p, a{
    font-family: 'Courier New', Courier, monospace;
}
.card1{
    grid-column: 1 /3;
    padding: 2rem;
    background-color: #effcff;
    border-radius: 15px;
    margin: 5px;
}

.card1 img{
    max-width: 200px;
    max-height: 100%;
    display: block;
}

.card2{
    padding: 2rem;
    background-color: #effcff;
    border-radius: 15px;
    margin: 5px;
}

.card2 a {
    text-decoration: none;
    color: black;
}

.formTitle{
    margin-left: 30px;
    grid-column: 1/-1;
}

form{
    grid-column: 1/-1;
    max-width: 500px;
    margin: 30px;
}

form div{
    padding: 10px;
}


footer{
    grid-column: 1 /4;
    padding: 2rem;
    text-align: center;
    background-color: white;
    color: black;
}