@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


body{
    margin: 0;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    background-color: #caf0f8;
    color: black;
    font-size: .75rem;
    text-align: center;
    display: grid;
    grid-template-columns: 300px 1fr;
    /* text-align: center; */
    padding: 15px;
}

.title{
    grid-column: 1/-1;
}

main{
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    
}
/* 
.navigation li {
    display: none;
} */

.hamburger {
    display: flex;
}

.menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #f4f4f4;
    position: absolute;
    top: 60px; /* Adjust based on header height */
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu.active {
    display: flex;
}

#temple-cards{
    justify-content: center;
}

.temple-card{
    text-align: center;
}

.temple-card img{
    max-width: 300px;
}

footer{
    grid-column: 1 /4;
    padding: 2rem;
    text-align: center;
    background-color: white;
    color: black;
}